*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./wallpapersden.com_star-wars-the-clone-wars-4k_1920x1080.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: rgb(189, 68, 68);
    transition: 500ms;
}

#menu{
    display:flex;
    justify-content: space-around;
    margin-top: 50px;
}

#menu>div{
    width: 150px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    color: rgb(189, 68, 68);
    padding: 10px;
    background-color: rgb(78, 70, 70, 0.5);
    border: 3px solid rgb(214, 154, 24);
    border-radius: 10px;   
    transition: 300ms;
}

#menu>div:hover{
    cursor: pointer;
    cursor: pointer;
    transform: scale(120%);
    background-color: rgb(78, 70, 70);
    transition: 300ms;
}

.principal,.secondaire{
    opacity: 0;
    font-size: 20px;
    margin: 100px;
    margin-bottom: 20px;
    padding: 50px;
    background-color: rgba(78, 70, 70, 0.5);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(189, 68, 68);
    border: 3px solid rgb(214, 154, 24);
    border-radius: 10px;

}

.bouton{
    display: none;
    justify-content: center;
    width: 100%;
    
}

.next, .previous{
    margin: 0 40px;
    display: none;
    width: 150px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    color: rgb(189, 68, 68);
    padding: 10px;
    background-color: rgb(78, 70, 70, 0.5);
    border: 3px solid rgb(214, 154, 24);
    border-radius: 10px;
    transition: 300ms;
}

.next:hover,.previous:hover{
    cursor: pointer;
    transform: scale(120%);
    background-color: rgb(78, 70, 70);
    transition: 300ms;
}

.clique{
    border: 2px solid rgba(78, 70, 70, 0);
    transition: 300ms;
}
.clique:hover{
    cursor: pointer;
    border: 2px solid rgb(214, 154, 24);
    border-radius: 5px;
    transform: scale(102%);
    transition: 300ms;
}